*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightgrey;
}

nav{
    background-color: red;
    color: white;
}

#navbar-text{
    font-size: 45px;
}


.card-header{
    background-color: red;
    color: white;
}

.card-body {
    background-color: white;
    color: black;
}

.container {
    /* display: flex; */
    justify-content: space-evenly;
    margin: 100px auto;
    min-width: fit-content;
}

.card{
    box-shadow: 10px 10px 5px tomato;
}

h3{
    font-weight:bold;
}